{
  "CloudPath": "C:\\GoogleDrive\\BuddySave",
  "SessionConfiguration": {
      "UserName": "buddy"
    },
  "GameSaveConfiguration": {
    "GameName": "Valheim",
    "SaveName": "ServerWorld",
    "SavePath": "C:\\Users\\<YourUser>\\AppData\\LocalLow\\IronGate\\Valheim\\worlds_local"
  }
}