{
  "CloudPath": "C:\\GoogleDrive\\BuddySave",
  "Session": {
      "UserName": "buddy"
    },
  "GameSave": {
    "GameName": "Valheim",
    "SaveName": "ServerWorld",
    "LocalPath": "C:\\Users\\<YourUser>\\AppData\\LocalLow\\IronGate\\Valheim\\worlds_local"
  }
}