{
  "UserName": "buddy",
  "CloudPath": "C:\\GoogleDrive\\BuddySave",
  "Game": {
    "Name": "Valheim",
    "SavePath": "C:\\Users\\<YourUser>\\AppData\\LocalLow\\IronGate\\Valheim\\worlds_local",
    "SaveName": "ServerWorld"
  }
}